---

- name: Influxdb
  type: influxdb
  host: {{ VIP }}
  port: 8087
  username: {{ influxdb_user }}
  password: {{ influxdb_password }}

- name: Livestatus
  type: livestatus
  host: {{ VIP }}
  port: 6559

- name: Mariadb
  type: mariadb
  host: {{ VIP }}
  port: 3306
  username: root
  password: {{ mariadb_root_password }}
