- !!python/object:icinga2_report.datasource.icinga2_livestatus.Icinga2LiveStatus
  host: {{ IP }}:6558
  name: LiveStatus
  status: true
- !!python/object:icinga2_report.datasource.icinga2_live_attributes.Icinga2LiveAttributeDatasource
  host: {{ IP }}:5665
  name: Icinga2LiveStatus
  password: {{ api_password }}
  status: true
  username: {{ api_user }}
- !!python/object:icinga2_report.datasource.influx.InfluxDatasource
  database: influxdb_nms
  host: {{ IP }}:8086
  name: InfluxdbDatasource
  password: {{ influxdb_password }}
  username: {{ influxdb_user }}
- !!python/object:icinga2_report.datasource.icinga2_live_attributes.Icinga2LiveAttributeDatasource
  host: {{ IP }}:5665
  name: adapter
  password: {{ api_password }}
  status: true
  username: {{ api_user }}

