{
  "orgId": 1,
  "name": "junos_tableview",
  "type": "mysql",
  "typeLogoUrl": "public/app/plugins/datasource/mysql/img/mysql_logo.svg",
  "access": "proxy",
  "url": "{{ VIP }}:3306",
  "password": "{{ mariadb_root_password }}",
  "user": "root",
  "database": "junos_tableview",
  "basicAuth": false,
  "isDefault": false,
  "jsonData": {},
  "readOnly": false
}
