maxkeys

{% if maxscale_user.name is defined and maxscale_user.password is defined %}
{{ maxscale_user.name }}=$(maxpasswd {{ maxscale_user.password }})  && sed -i "s/password={{ maxscale_user.password }}/password=${{ maxscale_user.name }}/g" /etc/maxscale.cnf
{% endif %}

#{% if monitor_user.name is defined and monitor_user.password is defined %}
#{{ monitor_user.name }}=$(maxpasswd {{ monitor_user.password }})  && sed -i "s/password={{ monitor_user.password }}/password=${{ monitor_user.name }}/g" /etc/maxscale.cnf
#{% endif %}
