{
  "uid": "VtDK6PXMk",
  "orgId": 1,
  "name": "Elasticsearch-Alert",
  "type": "elasticsearch",
  "typeLogoUrl": "public/app/plugins/datasource/elasticsearch/img/elasticsearch.svg",
  "access": "proxy",
  "url": "https://localhost:{{ http_port }}",
  "basicAuthUser": "elastic",
  "secureJsonData": {
    "basicAuthPassword": "{{ elastic_password }}"
  },
  "database": "alert*",
  "basicAuth": true,
  "isDefault": false,
  "jsonData": {
    "esVersion": 70,
    "logLevelField": "",
    "logMessageField": "",
    "maxConcurrentShardRequests": 5,
    "oauthPassThru": false,
    "timeField": "timestamp",
    "tlsSkipVerify": true
  },
  "readOnly": false
}
