{
  "uid": "Sevq_trGz",
  "orgId": 1,
  "name": "Elasticsearch-SNMP-Fortigate",
  "type": "elasticsearch",
  "typeLogoUrl": "public/app/plugins/datasource/elasticsearch/img/elasticsearch.svg",
  "access": "proxy",
  "url": "https://localhost:{{ http_port }}",
  "basicAuthUser": "elastic",
  "secureJsonData": {
    "basicAuthPassword": "{{ elastic_password }}"
  },
  "database": "snmp-fortigate*",
  "basicAuth": true,
  "isDefault": false,
  "jsonData": {
    "esVersion": 70,
    "logLevelField": "",
    "logMessageField": "",
    "maxConcurrentShardRequests": 5,
    "timeField": "@timestamp",
    "tlsSkipVerify": true
  },
  "readOnly": false
}
